In [2]:
from datasets import load_dataset
import pandas as pd

In [3]:
IMAGE_DATASET = "EmbeddingStudio/amazon-products-with-images"
IMAGE_COLS = ["Product Name", "Raw Image"]

splits = ["train", "eval", "test"]
metadata = []
for s in splits:
    metadata.append(
        load_dataset(
            IMAGE_DATASET, columns=IMAGE_COLS, num_proc=14, split=s
        ).to_pandas()
    )
metadata = pd.concat(metadata)
metadata.rename(
    columns={"Product Name": "product_title", "Raw Image": "product_image"},
    inplace=True,
)
metadata.dropna(inplace=True)
metadata["product_image"] = metadata["product_image"].apply(lambda x: x["bytes"])
metadata["product_title"] = metadata["product_title"].apply(
    lambda x: str.lower(str.strip(x))
)
# metadata.drop_duplicates(subset=["product_title"], inplace=True)
metadata.head()

,product_title,product_image
0,craft-tastic – empower poster – craft kit – de...,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...
1,melissa & doug dot-to-dot# & letter coloring p...,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...
2,"rpm rear shock tower for the nitro slash, nitr...",b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...
3,disney pixar cars mini racers crank & crash de...,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...
4,areaware cubebot small,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...

In [6]:
from base64 import b64decode

In [7]:
b64decode(metadata.product_image.iloc[0])

b'$R\x05\x0b\xbd5\xe3\x8e=\xf3m\xf8\xd8-\xb6\xdbm\xb6\xdbm\xb6\xdbm\xb6\xdbm\xb6\xdbm\xb6\xdbm\xb6\xdbm\xb6\xdbm\xb6\xdbm\xb6\xdbm\xb6\xdbm\xb6\xdbm\xb6\xdbP\x10j\xad\x81Gv\xeb\xe3\x9e\xbb\xf3\xd0\x83\x10Q\x87 \x94\x93QU\x97a\x97\x1dy\xf8!\x8a;-\xba\xfc1\xcb<5\x01\x06\xaa\xd8\x1d\xd1n\xbe9\xeb\xbf=\x081\x05\x18r\tI5\x15Yv\x19q\xd7\x9f\x82\x18\xa3\xb2\xdb\xaf\xc3\x1c\xb3\xf6\x8b\xc0\xe2538\xe2dEG8\xf2\xcf\'ab"\x14:'

In [43]:
TRAIN_DATASET = "tasksource/esci"
TRAIN_COLS = ["query", "product_title"]


df_t = load_dataset(
    TRAIN_DATASET, columns=TRAIN_COLS, num_proc=14, split="train"
).to_pandas()
df_t["product_title"] = df_t["product_title"].apply(lambda x: str.lower(str.strip(x)))
df_t.head()

,query,product_title
0,revent 80 cfm,panasonic fv-20vq3 whisperceiling 190 cfm ceil...
1,bathroom fan without light,panasonic fv-20vq3 whisperceiling 190 cfm ceil...
2,revent 80 cfm,homewerks 7141-80 bathroom fan integrated led ...
3,revent 80 cfm,homewerks 7140-80 bathroom fan ceiling mount e...
4,revent 80 cfm,delta electronics rad80l breezradiance 80 cfm ...

In [47]:
metadata.shape

(9630, 2)

In [44]:
df_z = pd.merge(df_t, metadata, on="product_title", how="inner")
df_z.head()

,query,product_title,product_image
0,$11 fidget please just please $11 not 25 not,pacific rim: extinction - starter set,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...
1,", fidget do not yell at that cost $1",wreck it ralph 2 disney's ralph breaks the int...,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...
2,ralph breaks the internet vanelope,wreck it ralph 2 disney's ralph breaks the int...,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...
3,wreck it ralph plush,wreck it ralph 2 disney's ralph breaks the int...,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...
4,0 dollar toys for big girl not for baby,sassy flip & grip rattle | value 2 pack | deve...,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00...

In [1]:
df_z.product_image[0]

NameError: name 'df_z' is not defined

In [21]:
from io import BytesIO
from PIL import Image

img_data = df.iloc[1, -1].get("bytes")
image = Image.open(BytesIO(img_data))
image